<div id="registerComponent">
    <div class="box has-background-white-ter p-5 form-container">
      <div class="mb-2">
        <figure class="image">
          <img class="max-width" src="./assets/img/logo.png" alt="Logo" />
        </figure>
      </div>
      <form [formGroup]="mainForm">
        <div class="field">
          <div class="control">
            <input type="email" class="input" [formControlName]="'email'" placeholder="Email" />
            <div *ngIf="submitted && f.email.errors" class="ml-3 is-size-7 has-text-danger">
              <div *ngIf="submitted && f.email.errors && f.email.errors.required">Email is required</div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input type="password" class="input" formControlName="password" placeholder="Password" />
            <div *ngIf="submitted && f.password.errors" class="ml-3 is-size-7 has-text-danger">
              <div *ngIf="submitted && f.password.errors && f.password.errors.required">Password is required</div>
            </div>
          </div>
        </div>
        <div class="my-1">
          <label class="checkbox">
            <input type="checkbox" formControlName="remember">
            Remember me
          </label>
        </div>
        <div class="my-2">
          <button class="button is-info max-width" (click)="handleSubmit()">Log in</button>
        </div>
        <div class="my-2">
          <a class="button is-warning max-width">Forgot password</a>
        </div>
        <div class="my-2">
          <a class="button is-success max-width">Register now!</a>
        </div>
      </form>
    </div>
  </div>