@import "./assets/css/bulma.min.css";

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.max-height {
  height: 100%;
}
.max-width {
  width: 100%;
}

.flex {
    display: flex;
}

.link {
  cursor: pointer;
}
